version: 2.1

jobs:
  Run-e2e:
    docker:
      - image: mcr.microsoft.com/playwright@sha256:f08e263c95e83334104e6e2fee047ad92062a03af6ae94c0f8686ba2b3014823
        environment:
          NODE_ENV: development # Needed if playwright is in `devDependencies`
    steps:
      - checkout
      - run:
          name: Install js dependencies
          command: yarn install --verbose
      - run:
          name: Run E2E tests
          command: yarn test:e2e
          environment:
            PLAYWRIGHT_TEST_BASE_URL: https://mui.com

workflows:
  version: 2
  build-test-and-approval-deploy:
    jobs:
      - Hold-For-Approval:
          type: approval
      - Run-e2e:
          requires:
            - Hold-For-Approval
